<div class="flex flex-col items-center gap-4 p-4">
  <div class="fixed z-[-2] h-full w-full bg-white"></div>
  <div class="curved-bg"></div>
  <div class="mt-10 flex size-25 items-center justify-center rounded-full bg-blue-100">
    <div class="text-4xl font-semibold text-blue-950">U</div>
  </div>
  <div class="flex flex-col">
    <p class="text-center font-semibold tracking-wider">User Name</p>
    <p class="text-center font-light">email&#64;example.com</p>
  </div>
  <div class="flex h-full w-full max-w-2xl flex-col gap-2">
    <div class="flex flex-col rounded-md bg-gray-200">
      <app-icon-button text="Iniciar sesión" [icon]="icons.USER" (click)="navigateToLogin()" />
      <app-icon-button text="Notificaciones" [icon]="icons.NOTIFICATIONS" />
      <app-icon-button text="Idioma" [icon]="icons.LANGUAGE" />
      <app-icon-button text="Tema" [icon]="icons.THEME" />
    </div>
    <div class="flex flex-col rounded-md bg-gray-200">
      <app-icon-button text="Ayuda y soporte" [icon]="icons.HELP" />
      <app-icon-button text="Política de privacidad" [icon]="icons.PRIVACY" />
    </div>
  </div>
</div>
