<div
  class="flex h-15 content-center items-center rounded-md align-middle text-text select-none hover:cursor-pointer hover:bg-secondary"
  [ngClass]="{
    'border-l-4': isSelected(),
    'border-primary': isSelected(),
    'bg-card': !isSelected(),
    'bg-secondary': isSelected(),
  }"
>
  <div class="w-full p-4" appLongPress [duration]="250" (longPress)="onLongPress()" (shortPress)="onShortPress()">
    <p
      [ngClass]="{
        'line-through': task().completed,
        'text-secondary-text': task().completed,
      }"
    >
      {{ task().text }}
    </p>
  </div>

  <div class="p-4">
    <input
      [checked]="task().completed"
      type="checkbox"
      placeholder="True"
      (click)="onCheck($event); $event.stopPropagation()"
      class="accent-primary hover:cursor-pointer"
    />
  </div>
</div>
