<section class="flex flex-col gap-2 p-2" cdkDropList (cdkDropListDropped)="drop($event)">
  @for (list of lists; track $index) {
    <app-list-item
      appLongPress
      [duration]="250"
      (longPress)="onListLongPress(list.id)"
      (shortPress)="onListShortPress(list.id)"
      [list]="list"
      [isSelected]="selectedLists.has(list.id)"
      cdkDrag
      [cdkDragStartDelay]="250"
    ></app-list-item>
  }

  <div class="fixed right-10 bottom-10">
    <app-add-button (click)="onAddListClick()"></app-add-button>
  </div>
</section>
