<div
  class="flex h-15 content-center items-center rounded-md align-middle select-none hover:cursor-pointer hover:bg-blue-100"
  [ngClass]="{
    'border-1': isSelected(),
    'bg-gray-200': isSelected(),
    'bg-white': !isSelected(),
  }"
>
  <div class="w-full p-4" appLongPress [duration]="250" (longPress)="onLongPress()" (shortPress)="onShortPress()">
    <p
      [ngClass]="{
        'line-through': task().completed,
        'text-gray-500': task().completed,
      }"
    >
      {{ task().text }}
    </p>
  </div>

  <div class="p-4">
    <input
      [checked]="task().completed"
      type="checkbox"
      placeholder="True"
      (click)="onCheck($event); $event.stopPropagation()"
    />
  </div>
</div>
