<div
  class="flex h-15 content-center items-center rounded-md bg-white pl-6 align-middle select-none hover:cursor-pointer hover:bg-blue-100"
  appLongPress
  [duration]="800"
  (longPress)="onLongPress()"
  (shortPress)="onShortPress()"
>
  <p
    [ngClass]="{
      'line-through': task().completed,
      'text-gray-500': task().completed,
    }"
  >
    {{ task().text }}
  </p>

  <input
    [checked]="task().completed"
    type="checkbox"
    placeholder="True"
    class="mr-6 ml-auto"
    (click)="onCheck($event)"
  />
</div>
