<div class="flex flex-col gap-2 bg-background p-2 text-text">
  <div class="flex w-full flex-row items-center gap-2 rounded-md bg-card p-4">
    <svg class="size-6">
      <use xlink:href="assets/symbol-defs.svg#icon-user"></use>
    </svg>
    <div class="w-full rounded-md bg-secondary/20 p-2">
      <input type="text" placeholder="Introduzca su nombre completo" class="w-full" />
    </div>
  </div>
  <div class="flex w-full flex-row items-center gap-2 rounded-md bg-card p-4">
    <svg class="size-6">
      <use xlink:href="assets/symbol-defs.svg#icon-mail"></use>
    </svg>
    <div class="w-full rounded-md bg-secondary/20 p-2">
      <input type="email" class="w-full" placeholder="Introduzca su email" />
    </div>
  </div>
  <div class="flex w-full flex-row items-center gap-2 rounded-md bg-card p-4">
    <svg class="size-10">
      <use xlink:href="assets/symbol-defs.svg#icon-lock"></use>
    </svg>
    <div class="w-full rounded-md bg-secondary/20 p-2">
      <input type="password" class="w-full" placeholder="Introduzca su contraseña" />
    </div>
  </div>
  <div class="flex w-full flex-row items-center gap-2 rounded-md bg-card p-4">
    <svg class="size-10">
      <use xlink:href="assets/symbol-defs.svg#icon-lock"></use>
    </svg>
    <div class="w-full rounded-md bg-secondary/20 p-2">
      <input type="password" placeholder="Introduzca de nuevo su contraseña" class="w-full" />
    </div>
  </div>
  <div class="w-full items-center rounded-md bg-background p-2">
    <div class="w-full items-center rounded-md bg-primary p-2 text-center text-xl text-card">
      <input type="button" value="CREAR CUENTA" class="" />
    </div>
  </div>
  <div class="w-full items-center gap-4 rounded-md bg-background p-2">
    <input type="checkbox" />
    <span> Al marcar esta casilla, aceptas nuestros Términos y Condiciones</span>
  </div>
</div>
