<div
  class="fixed top-0 z-1 flex h-screen w-screen items-center justify-center bg-black/25 backdrop-blur-xs transition-all"
  (animationend)="onAnimationEnd()"
  (click)="close()"
  (keypress)="close()"
  [class.animate-fade-in]="!isClosing"
  [class.animate-fade-out]="isClosing"
>
  <div
    class="m-5 flex w-full max-w-[500px] flex-col gap-2 rounded-md bg-card p-4 opacity-100 shadow-md"
    (click)="$event.stopPropagation()"
    (keypress)="$event.stopPropagation()"
  >
    <h2 class="font-semibold text-text select-none">{{ title }}</h2>
    <div class="flex gap-2">
      <button
        (click)="showIcons = !showIcons"
        class="rounded-md border-1 border-accent p-4 text-2xl select-none hover:cursor-pointer"
      >
        {{ outputList.icon }}
      </button>

      <input
        #inputName
        id="name-text-input"
        placeholder="Nombre"
        class="w-full rounded-md border-1 border-accent p-4 text-text"
        [ngClass]="{
          'focus:outline-none': invalidName,
          'focus:border-red-400': invalidName,
          'animate-zig-zag-h': invalidName,
        }"
        type="text"
        (click)="onInputClick()"
        [ngModel]="outputList.name"
        (ngModelChange)="onInputChange($event)"
      />
    </div>
    @if (!showIcons) {
      <div class="flex animate-slide-in justify-end gap-2">
        <button
          class="rounded-md p-2 font-semibold text-text hover:cursor-pointer hover:bg-secondary active:bg-secondary"
          (click)="close()"
        >
          CANCELAR
        </button>
        <button
          class="rounded-md p-2 font-semibold text-text hover:cursor-pointer hover:bg-secondary active:bg-secondary"
          (click)="onCreateClick()"
        >
          {{ confirmButtonText }}
        </button>
      </div>
    } @else {
      <div class="grid h-40 animate-slide-in grid-cols-6 gap-1 overflow-x-hidden overflow-y-scroll">
        @for (icon of icons; track $index) {
          <div
            (click)="onIconClicked(icon)"
            (keypress)="onIconClicked(icon)"
            class="transtion flex aspect-square w-full cursor-pointer items-center justify-center transition hover:scale-120 active:scale-120"
          >
            {{ icon }}
          </div>
        }
      </div>
    }
  </div>
</div>
