<div class="flex flex-col gap-2 bg-secondary p-2">
  <div class="w-full rounded-md bg-background p-2">
    <span> Introduce tu correo y contraseña para acceder</span>
  </div>

  <div class="flex w-full flex-row items-center gap-2 rounded-md bg-background p-2">
    <svg class="size-10">
      <use xlink:href="assets/symbol-defs.svg#icon-mail"></use>
    </svg>
    <div class="w-full rounded-md bg-accent p-2">
      <input type="email" placeholder="Introduzca su email" />
    </div>
  </div>
  <div class="flex w-full flex-row items-center gap-2 rounded-md bg-background p-2">
    <svg class="size-10">
      <use xlink:href="assets/symbol-defs.svg#icon-lock"></use>
    </svg>
    <div class="w-full rounded-md bg-accent p-2">
      <input type="password" placeholder="Introduzca su contraseña" />
    </div>
  </div>

  <div class="w-full rounded-md bg-background p-2">
    <span>
      <a href="" class="text-cur text-blue-950 underline">¿Has olvidado tu contraseña?</a>
    </span>
  </div>

  <div class="w-full items-center rounded-md bg-primary p-2">
    <div class="w-full items-center bg-primary p-2 text-center text-xl text-white">
      <input type="button" value="Iniciar Sesión" />
    </div>
  </div>

  <div class="w-full rounded-md bg-background p-2 text-center">
    <span>
      <span> ¿No tienes cuenta? </span>
      <a routerLink="/signup" class="text-primary underline">Regístrate</a>
    </span>
  </div>
</div>
