<div class="flex items-center justify-between bg-amber-100 p-4">
  <svg routerLink="/" class="size-6">
    <use xlink:href="assets/symbol-defs.svg#icon-back"></use>
  </svg>
  <svg class="size-6">
    <use xlink:href="assets/symbol-defs.svg#icon-home"></use>
  </svg>
  <h1 class="text-xl font-bold">{{ title() }}</h1>
  <svg class="size-6">
    <use xlink:href="assets/symbol-defs.svg#icon-share-alternitive"></use>
  </svg>
  <svg class="size-6">
    <use xlink:href="assets/symbol-defs.svg#icon-eraser"></use>
  </svg>
  <svg class="size-6">
    <use xlink:href="assets/symbol-defs.svg#icon-check"></use>
  </svg>
  <svg class="size-6">
    <use xlink:href="assets/symbol-defs.svg#icon-user"></use>
  </svg>
</div>
