<div
  class="z-1 flex h-14 items-center bg-white p-4"
  [ngClass]="{
    'bg-transparent': topBarConf.transparent,
  }"
>
  @if (topBarConf.leftButtons.length !== 0 || topBarConf.centerTitle) {
    <div class="z-1 flex w-50 items-center justify-start gap-4">
      @for (button of topBarConf.leftButtons; track $index) {
        <svg
          class="z-1 size-8 cursor-pointer rounded-md p-1 hover:bg-gray-100 active:bg-gray-100"
          (click)="onButtonClick(button)"
          (keydown)="onButtonClick(button)"
        >
          <use [attr.xlink:href]="button.type"></use>
        </svg>
      }
    </div>
  }

  <h1 class="z-1 w-full text-center text-xl font-bold" [class.text-center]="topBarConf.centerTitle">
    {{ topBarConf.title }}
  </h1>

  <div class="z-1 flex w-50 items-center justify-end gap-4">
    @for (button of topBarConf.rightButtons; track $index) {
      <svg
        class="z-1 size-8 cursor-pointer rounded-md p-1 hover:bg-gray-100 active:bg-gray-100"
        (click)="onButtonClick(button)"
        (keydown)="onButtonClick(button)"
      >
        <use [attr.xlink:href]="button.type"></use>
      </svg>
    }
  </div>
</div>
