<div class="flex flex-col items-center gap-4 p-4">
  <div class="curved-bg"></div>
  <div class="mt-10 flex size-25 items-center justify-center rounded-full bg-card">
    <div class="text-4xl font-semibold text-text select-none">{{ userName().charAt(0) }}</div>
    <button
      class="absolute mt-17 ml-17 flex size-10 cursor-pointer items-center justify-center rounded-full border-4 border-background bg-secondary transition-transform hover:scale-110"
    >
      <svg class="size-4 fill-text">
        <use [attr.xlink:href]="iconService.getIcon(iconService.icons.EDIT)"></use>
      </svg>
    </button>
  </div>
  <div class="flex w-full max-w-5xl flex-col">
    <p class="text-center font-semibold tracking-wider text-text select-none">{{ userName() }}</p>
  </div>
  <div class="flex w-full max-w-5xl flex-col gap-2">
    <div class="flex flex-col rounded-md bg-card shadow-md">
      <app-icon-button text="Iniciar sesión" [icon]="iconService.icons.USER" (click)="navigateToLogin()" />
      <app-icon-button text="Notificaciones" [icon]="iconService.icons.NOTIFICATIONS" />
      <app-icon-button text="Idioma" [icon]="iconService.icons.LANGUAGE" />
      <app-icon-button text="Tema" [icon]="iconService.icons.THEME" (click)="navigateToTheme()" />
    </div>
    <div class="flex flex-col rounded-md bg-card shadow-md">
      <app-icon-button text="Ayuda y soporte" [icon]="iconService.icons.HELP" />
      <app-icon-button text="Política de privacidad" [icon]="iconService.icons.PRIVACY" />
    </div>
  </div>
</div>
