<div class="flex flex-col gap-2 p-2">
  @for (theme of themes; track $index) {
    <div
      class="flex h-15 content-center items-center rounded-md bg-card align-middle text-text select-none hover:cursor-pointer hover:bg-secondary"
      (click)="selectTheme(theme)"
      (keydown)="selectTheme(theme)"
    >
      <div class="flex gap-2 pr-5 pl-5 text-text">
        <input
          class="hover:cursor-pointer"
          type="radio"
          name="theme"
          value="default"
          (click)="selectTheme(theme)"
          [checked]="this.selectedTheme === theme"
        />
        <label class="hover:cursor-pointer" for="default">{{ theme | titlecase }}</label>
      </div>
    </div>
  }
</div>
