<div class="fixed top-0 h-screen w-screen animate-fade-in bg-black/25 backdrop-blur-xs">
  <div class="fixed bottom-0 flex w-screen animate-slide-in flex-col content-center bg-gray-700 p-4">
    <svg class="icon size-13 self-end fill-gray-100">
      <use xlink:href="assets/symbol-defs.svg#icon-chevron-down"></use>
    </svg>

    <div
      class="flex h-15 content-center items-center gap-2 rounded-md bg-white p-2 align-middle select-none hover:cursor-pointer hover:bg-gray-100"
    >
      <input class="w-full" type="text" placeholder="Hola" />
      <input class="" type="checkbox" />
    </div>
  </div>
</div>
