<div
  class="fixed inset-0 z-10 h-screen w-screen bg-black/25 backdrop-blur-xs"
  (animationend)="onAnimationEnd()"
  (click)="close()"
  (keydown.esc)="close()"
  (keydown.space)="close()"
  [class.animate-fade-in]="!isClosing"
  [class.animate-fade-out]="isClosing"
>
  <div
    class="fixed bottom-0 flex w-screen animate-slide-in flex-col rounded-xl bg-secondary p-4 shadow-lg"
    (click)="$event.stopPropagation()"
    (keydown)="$event.stopPropagation()"
  >
    <button
      type="button"
      aria-label="Cerrar"
      class="mb-2 ml-auto flex h-8 w-8 items-center justify-center rounded-full hover:cursor-pointer hover:bg-primary"
      (click)="close()"
    >
      <svg class="h-6 w-6 fill-accent">
        <use xlink:href="assets/symbol-defs.svg#icon-chevron-down"></use>
      </svg>
    </button>

    <div class="flex items-center gap-3 rounded-md bg-background p-2 select-none">
      <input
        class="flex-1 rounded-md border border-background bg-transparent p-2 text-text focus:border-primary focus:outline-none"
        type="text"
        [(ngModel)]="text"
        [placeholder]="text"
      />

      <input type="checkbox" [(ngModel)]="completed" class="accent-primary hover:cursor-pointer" />

      <button
        type="button"
        class="rounded-md bg-primary px-4 py-2 text-background hover:cursor-pointer hover:bg-primary/90"
        (click)="onConfirmClicked()"
        (keydown.enter)="onConfirmClicked()"
        (keydown.space)="onConfirmClicked()"
      >
        Guardar
      </button>
    </div>
  </div>
</div>
