/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@theme {
  --fade-duration: 125ms;
  --animate-fade-in: fade-in var(--fade-duration) ease-in-out;
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  --animate-fade-out: fade-out var(--fade-duration) ease-in-out;
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
