/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/assets/Inter.ttf") format("truetype");
}

@theme {
  --font-sans: "Inter", sans-serif;
  --font-display: "Inter", sans-serif;

  --fade-duration: 125ms;
  --animate-fade-in: fade-in var(--fade-duration) ease-in-out;
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  --animate-fade-out: fade-out var(--fade-duration) ease-in-out;
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  --animate-slide-in: slide-in 200ms ease;
  @keyframes slide-in {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }

  --animate-zig-zag-h: zig-zag-h 300ms ease;
  @keyframes zig-zag-h {
    0% {
      transform: translateX(5px);
    }
    25% {
      transform: translateX(-10px);
    }
    50% {
      transform: translateX(10px);
    }
    75% {
      transform: translateX(-10px);
    }
    100% {
      transform: translateX(5px);
    }
  }
}
