/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/assets/Inter.ttf") format("truetype");
}

@theme {
  --color-text: #050315;
  --color-secondary-text: #8b84c5;
  --color-background: #f1f0ffd5;
  --color-primary: #2f27ce;
  --color-secondary: #dedcff;
  --color-accent: #adaaf3;
  --color-card: #ffffff;

  --font-sans: "Inter", sans-serif;
  --font-display: "Inter", sans-serif;

  --fade-duration: 125ms;
  --animate-fade-in: fade-in var(--fade-duration) ease-in-out;
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  --animate-fade-out: fade-out var(--fade-duration) ease-in-out;
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  --animate-slide-in: slide-in 200ms ease;
  @keyframes slide-in {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }

  --animate-zig-zag-h: zig-zag-h 300ms ease;
  @keyframes zig-zag-h {
    0% {
      transform: translateX(5px);
    }
    25% {
      transform: translateX(-10px);
    }
    50% {
      transform: translateX(10px);
    }
    75% {
      transform: translateX(-10px);
    }
    100% {
      transform: translateX(5px);
    }
  }
}

/* Temas */

.theme-light {
  --color-text: #050315;
  --color-secondary-text: #8b84c5;
  --color-background: #f1f0ffd5;
  --color-primary: #2f27ce;
  --color-secondary: #dedcff;
  --color-accent: #adaaf3;
  --color-card: #ffffff;
}

.theme-dark {
  --color-text: #f1f1f1;
  --color-secondary-text: #b5b2e0;
  --color-background: #121118;
  --color-primary: #5c54ff;
  --color-secondary: #2b2a33;
  --color-accent: #7d78f2;
  --color-card: #1e1d26;
}

.theme-ocean {
  --color-text: #032b2f;
  --color-secondary-text: #35797d;
  --color-background: #ebf9fa;
  --color-primary: #007a8a;
  --color-secondary: #bce7ea;
  --color-accent: #00c2d1;
  --color-card: #ffffff;
}

.theme-forest {
  --color-text: #142414;
  --color-secondary-text: #4c6b4c;
  --color-background: #f3faf4;
  --color-primary: #2f6d31;
  --color-secondary: #cde6ce;
  --color-accent: #6fbf73;
  --color-card: #ffffff;
}

.theme-pastel {
  --color-text: #2e2633;
  --color-secondary-text: #7b6a87;
  --color-background: #fffaff;
  --color-primary: #a59df5;
  --color-secondary: #ffeaa7;
  --color-accent: #f7a9a8;
  --color-card: #ffffff;
}
